<script lang="ts">
  import siteData from "$lib/site-data.json";
  import type { PageData } from "./$types";
  import { HighlightSvelte } from "svelte-highlight";
  import Counter from "$lib/svelte/demo/Counter.svelte";
  
  export let data: PageData;
</script>

<svelte:head>
	<title>Premier exemple | { siteData.title }</title>
</svelte:head>

# Exemple
<HighlightSvelte code={data.counterCode} />
<Counter />
